@import "tailwindcss";

@view-transition {
  navigation: auto;
}

img::view-transition-old(*),
img::view-transition-new(*),
a::view-transition-old(*),
a::view-transition-new(*),
h1::view-transition-old(*),
h1::view-transition-new(*) {
  animation: fade-zoom 0.5s ease-in-out both;
}

/* Remove arrow*/
details summary::marker {
  content: "";
}
details summary::-webkit-details-marker {
  display: none;
}

body {
  @apply overflow-y-scroll;
}

html {
  @apply bg-gray-800 text-gray-300 antialiased font-sans tracking-wide;
}

body {
  @apply overflow-y-scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-3 text-gray-200 font-semibold;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply font-bold;
}

section {
  @apply mb-16;
}

p {
  @apply leading-6 mb-3;
}

p a {
  @apply text-yellow-400;
}

p code {
  @apply bg-black p-1 rounded-md;
}

a,
details summary {
  /* @apply underline underline-offset-4 decoration-gray-400 decoration-1 hover:text-gray-400 */
  @apply hover:opacity-60;
}

u {
  @apply underline underline-offset-4;
}

strong,
b {
  @apply font-bold;
}

ul,
li {
  @apply list-none;
}

@font-face {
  font-family: "dancing";
  /* Generate with :
   * pyftsubset ./DancingScript.ttf --text="Alexandre DosReisAccueilBlogParcoursContactProcéduresRecettes|" --output-file=subset.ttf
   * */
  src: url("./subset.ttf");
}

.handwriting {
  font-family: "dancing";
}
