@import "tailwindcss";

.mdx a {
  @apply text-yellow-400;
}

.mdx h2 {
  @apply mt-16 mb-4;
}

.mdx h3 {
  @apply mt-8 mb-4;
}

.mdx pre {
  @apply bg-slate-900 rounded-xl px-4 py-2 mb-4 overflow-x-auto;
}

.mdx p > code {
  @apply bg-slate-300 text-gray-900;
}

.mdx img {
  @apply block mb-8 mt-8 w-full sm:w-auto max-w-full mx-auto rounded-xl;
}

.mdx table {
  @apply border text-center border-collapse bg-gray-800 border-gray-600 mt-3 mb-6;
}

.mdx thead,
.mdx tr {
  @apply border-b border-gray-600;
}

.mdx th {
  @apply font-black;
}

.mdx th,
.mdx td {
  @apply text-sm px-2 py-2 border-r border-gray-600;
}

.mdx ul,
.mdx li {
  @apply list-inside;
}
